version: "3.9"

services:
  web:
    build: .
    command: bash -c "python src/manage.py migrate && python src/manage.py collectstatic --noinput && gunicorn core.wsgi:application --bind 0.0.0.0:8000 --chdir /app/src"
    working_dir: /app
    ports:
      - "8000:8000"
    volumes:
      - ./src:/app/src
    restart: unless-stopped

